h4 {
    margin: 10px 0;
    text-align: center;
}

li {
    margin: 5px 0 0 40px;
    list-style: none;
}

button.btn-primary {
    margin: 20px auto;
    display: block;
}

input.form-check-input {
    margin-top: 0.4rem;
}